.block
  %h3 General
  .content
    %p
      Use label
      %b Menu Top
      for show the page in top menu
    %p
      Label
      %b Home
      is used for display text in home page
    %p
      Labels
      %b Home - Feature
      will be displayed in home

=partial('base/textile')