.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:categories), url(:categories, :index)
      %li.active=link_to pat(:list), url(:posts, :index)
      %li=link_to pat(:categories), url(:categories, :index)
      %li=link_to pat(:new), url(:posts, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:post)
    .inner
      %table.table
        %tr
          %th.first=mat(:post, :title)
          %th=mat(:post, :categories)
          %th=mat(:post, :tags)
          %th=mat(:post, :draft)
          %th=mat(:post, :created_at)
          %th.last="&nbsp;"
        -@posts.each do |post|
          %tr
            %td.first=link_to post.title, PadrinoWeb.url(:blog, :show, :id => post), :target => :_blank
            %td=post.categories.map(&:name).join(", ")
            %td=post.tags
            %td=post.draft? ? "Yes" : "No"
            %td=l(post.updated_at, :format => :short)
            %td.last
              =button_to pat(:edit), url(:posts, :edit, :id => post.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:posts, :destroy, :id => post.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")