.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:categories), url(:categories, :index)
      %li=link_to pat(:list), url(:posts, :index)
      %li=link_to pat(:categories), url(:categories, :index)
      %li.active=link_to pat(:new), url(:posts, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:post)
    .inner
      -form_for :post, url(:posts, :create), :class => :form do |f|
        =partial "posts/form", :locals => { :f => f }

-content_for :sidebar, partial("base/textile")