.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:posts), url(:posts, :index)
      %li.active=link_to pat(:list), url(:categories, :index)
      %li=link_to pat(:posts), url(:posts, :index)
      %li=link_to pat(:new), url(:categories, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:category)
    .inner
      %table.table
        %tr
          %th.first=mat(:category, :name)
          %th.last="&nbsp;"
        -@categories.each do |category|
          %tr
            %td.first=category.name
            %td.last
              =button_to pat(:edit), url(:categories, :edit, :id => category.id), :method => :get, :class => :button_to 
              ="|"
              =button_to pat(:delete), url(:categories, :destroy, :id => category.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")