.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:posts), url(:posts, :index)
      %li=link_to pat(:list), url(:categories, :index)
      %li=link_to pat(:posts), url(:posts, :index)
      %li.active=link_to pat(:new), url(:categories, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:category)
    .inner
      -form_for :category, url(:categories, :create), :class => :form do |f|
        =partial "categories/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")