-title "Team"
-description @team_page.try(:body_html)
%h1.margin-top Padrino Team
.content~@team_page.try(:body_html)
%ul.team
  -@team.each do |account|
    %li
      .avatar
        -link_to account.home_page, :target => :_blank, :unless => account.home_page.blank? do
          =image_tag(account.gravatar(100), :alt => account.name)
      .description
        %h3=link_to account.full_name, account.home_page, :target => :_blank, :unless => account.home_page.blank?
        .l=account.description_html
      .clear