-title "Pages"
.grid_12.alpha.margin-top
  -if @pages.blank?
    %h1 No Pages Found
    .content The page requested is not available
  -else
    -@pages.each_with_index do |page, i|
      %h1{:class => ("border-top" if i!=0)}
        =link_to highlight(page.title, @search), url(:pages, :show, :id => page), :unless => page.body.blank?
      .content=truncate highlight(page.body_html.gsub(/<\/?[^>]*>/, ''), @search), :length => 355
      .align-right=link_to "Continue reading", url(:pages, :show, :id => page)
    .pagination=paginate(@pages, :pages, :search)

.grid_4.omega.margin-top=partial "pages/sidebar"
.clear
