-title "Pages"
.grid_12.alpha.margin-top
  -if @pages.blank?
    %h1 No Pages Found
    .content The page requested is not available
  -else
    -description @pages.map(&:body_html).join(" ")
    -@pages.each_with_index do |page, i|
      %h1{:class => ("border-top" if i!=0)}
        =link_to highlight(page.title, @search), url(:pages, :show, :id => page), :unless => page.body.blank?
      .content=highlight truncate(page.body_html.gsub(/<\/?[^>]*>/, ''), :length => 355), @search
      .align-right=link_to "Continue Reading", url(:pages, :show, :id => page)
    .pagination=paginate(@pages, :pages, :search)

.grid_4.omega.margin-top=partial "pages/sidebar"
.clear
