.grid_12.alpha.margin-top
  -if @page
    -title @page.title
    -description @page.body_html
    %h1=@page.title
    .content~@page.body_html
  -else
    %h1 Page not found
    .content The page requested is not available

.grid_4.omega.margin-top=partial "pages/sidebar"
.clear