.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description the name

.group
  =f.label :surname
  =f.error_message_on :surname
  =f.text_field :surname, :class => :text_field
  %span.description the surname

.group
  =f.label :email
  =f.error_message_on :email
  =f.text_field :email, :class => :text_field
  %span.description a valid email

.group
  =f.label :home_page
  =f.error_message_on :home_page
  =f.text_field :home_page, :class => :text_field
  %span.description a valid Home Page

.group
  =f.label :password
  =f.error_message_on :password
  =f.password_field :password, :class => :text_field
  %span.description a password with at least 4 chars

.group
  =f.label :password_confirmation
  =f.error_message_on :password_confirmation
  =f.password_field :password_confirmation, :class => :text_field
  %span.description a password confirmation

.group
  =f.label :role
  =f.error_message_on :role
  =f.select :role, :options => access_control.roles
  %span.description their role

.group
  =f.label :team
  =f.error_message_on :team
  =f.check_box :team
  %span.description is a team member?

.group
  =f.label :description
  =f.error_message_on :description
  ~f.text_area :description, :class => "text_area code", :style => "height:200px"
  %span.description a small biography

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:accounts, :index)}';return false", :class => :button