.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:guides, :index)
      %li=link_to pat(:new), url(:guides, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:guide)
    .inner
      %table.table.sortable
        %thead
          %tr
            %th.first=mat(:guide, :title)
            %th=mat(:guide, :link)
            %th=mat(:guide, :draft)
            %th=mat(:guide, :created_at)
            %th.last="&nbsp;"
        %tbody
          -@guides.each do |guide|
            %tr[guide]
              %td.first=guide.title
              %td=link_to PadrinoWeb.url(:guides, :show, :id => guide), PadrinoWeb.url(:guides, :show, :id => guide), :target => :_blank
              %td=guide.draft? ? "Yes" : "No"
              %td=l(guide.updated_at, :format => :short)
              %td.last
                =button_to pat(:edit), url(:guides, :edit, :id => guide.id), :method => :get, :class => :button_to
                ="|"
                =button_to pat(:delete), url(:guides, :destroy, :id => guide.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")