.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:guides, :index)
      %li.active=link_to pat(:new), url(:guides, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:guide)
    .inner
      -form_for :guide, url(:guides, :create), :class => :form do |f|
        =partial "guides/form", :locals => { :f => f }

-content_for :sidebar, partial("guides/sidebar")