=partial("base/search", :locals => { :where => url(:blog, :index) })

%h3 Categories
%ul
  -Category.all.each do |category|
    -if category.post_count > 0
      %li=link_to category.name.upcase + " (#{category.post_count})", url(:blog, :category, :id => category)

-if @post
  %h3 Info
  %ul
    %li='Author ' + @post.author.full_name
    %li='Posted ' + time_ago_in_words(@post.updated_at || Time.now) + ' ago'
    %li=link_to '0 Comments', :anchor => :disqus_thread
    =disqus_comment_counts

%h3 Links
%ul
  %li=link_to "Twitter", "http://www.twitter.com/padrinorb", :target => :_blank
  %li=link_to "Repository", "http://www.github.com/padrino/padrino-framework", :target => :_blank
  %li=link_to "Issue Tracker", "http://www.github.com/padrino/padrino-framework/issues", :target => :_blank
  %li=link_to "Feeds", url(:blog, :rss), :target => :_blank