-title "Blog", @post.title
.grid_12.alpha
  %p
    %h1=@post.title
    .content
      ~@post.summary_html
      ~@post.body_html
    #disqus_thread
    %script{ :type => "text/javascript", :src => "http://disqus.com/forums/padrinorb/embed.js" }
    %noscript
      %a{ :href => "http://disqus.com/forums/padrinorb/?url=ref" }
        View the discussion thread.
    %a.dsq-brlink{ :href => "http://disqus.com" }
      blog comments powered by
      %span.logo-disqus
        Disqus

.grid_4.omega.margin-top=partial "blog/sidebar"
.clear