!!!
%html{ :xmlns=>"http://www.w3.org/1999/xhtml" }
  %head
    %title="Padrino Framework v.#{Padrino.version} - Book"
  %body
    .logo{:style => "text-align:center;margin-top:400px"}=image_tag(Padrino.root("public/images/padrino.jpg"))
    .guide{:style => "page-break-before:always"}
      -@guides.each do |guide|
        -next if guide.title =~ /blog tutorial/i
        %h1=guide.title
        .content~guide.body_html