-title "Guides"
.grid_12.alpha.margin-top
  -if @guides.blank?
    %h1 No Guides Found
    .content The guide requested is not available
  -else
    -description @guides.map(&:body_html).join(" ")
    -@guides.each_with_index do |guide, i|
      %h1{:class => ("border-top" if i!=0)}
        =link_to highlight(guide.title, @search), url(:guides, :show, :id => guide), :unless => guide.body.blank?
      .content=highlight truncate(guide.body_html.gsub(/<\/?[^>]*>/, ''), :length => 355), @search
      .align-right=link_to "Continue Reading", url(:guides, :show, :id => guide)
    .pagination=paginate(@guides, :guides, :search)

.grid_4.omega.margin-top=partial "guides/sidebar"
.clear