.grid_12.alpha.margin-top
  -if @guide
    -title "Guides", @guide.title
    -description @guide.body_html
    %h1=@guide.title
    .content~@guide.body_html
    #disqus_thread
    %script{ :type => "text/javascript", :src => "http://disqus.com/forums/padrinorb/embed.js" }
    %noscript
      %a{ :href => "http://disqus.com/forums/padrinorb/?url=ref" }
        View the discussion thread.
  -else
    %h1 Guide not found
    .content The guide requested is not available

.grid_4.omega.margin-top=partial "guides/sidebar"
.clear